<%= render "photos/navbar" %>
<h1>Photos</h1>
<img class="index_photo" src="https://upload.wikimedia.org/wikipedia/commons/6/62/Cleopatra_-_John_William_Waterhouse.jpg">
<br>
    <h1>Have you ever noticed that images from films, or moments from a song are inspired by artpieces?</h1>
    <h4>You are not alone.  This is a site for you to document those artpieces and comment on them. <br><br>Type in the url of selected image, name the song or film that it inspired, and leave a comment or two.  You can also search the database for particular songs and films and leave comments on other's finds.  <br><br>All in all this site is to inspire and get you excited to create art!</h4>

    <%= link_to "sign-up", new_user_path %>
    <br>
    <p>Navigate Users Photos</p>
    <ul>
    <% @users.each do |user| %>
    <li><%= link_to user.email, user_path(user) %></li>
    <% end %>
  </ul>

    <p>View artpieces in <%= link_to "Alphabetical Order", users_path %> by film or song.
      <br>
    View artpieces by <%= link_to "Creation Date", users_path %>
    <br>
    <p class="right"><%= link_to "Shoot You Down-Stone Roses" %></p>

<hr>
