<%= render "navbar" %>

<h1><img src="<%= @photo.url %>"></h1>
<p><%= @photo.title %></p>
  <p><%= @photo.description %></p>
<p><%= link_to "Edit", edit_photo_path(@photo) %></p>
<p><%= link_to "Delete", photo_path(@photo),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<%= render "footer" %>
